.p{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1{
    height: 300px;
    width: 300px;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    
   
}

