
<div class="parent" > 
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="twowaybinding">twowaybinding</h6>
        <h6 routerLink="eventbinding">eventbinding</h6>
         <h6 routerLink="calculator">calculator</h6>
         <h6 routerLink="rectangle">rectangle</h6>
         <h6 routerLink="sqeare"> sqeare</h6>
         <h6 routerLink="power">power</h6>
         <h6 routerLink="eventreg">eventreg</h6>
         <h6 routerLink="employerege">employerege</h6>
         <h6 routerLink="gpay">gpay</h6>
         <h6 routerLink="bank">bank</h6>
         <h6 routerLink="vehicle">vehicle</h6>
         <h6 routerLink="typicode">typicode</h6>
         <h6 routerLink="flipkart">flipkart</h6>
         <h6 routerLink="createaccount">createaccount</h6>
         <h6 routerLink="logout">logout</h6>
         
    </div>
    <div class="right">
    <router-outlet></router-outlet>


</div></div>
